body {
  margin: 0;
  min-height: 100vh;
  /* background-color: eeeff1; */
  background: linear-gradient(-45deg,
       /* #0f172a,
    #1e293b,
    #105b7e  */
      #111827,
      #1f2937,
      #374151);

  background-size: 400% 400%;
  animation: gradient 12s ease infinite;

  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Adjust this value based on the height of your nav bar */
}


nav {
  /* background-color: #bfd6c4; */
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: #1d2d47a8;
}

.right-bar {
  border: solid;
  border-radius: 5px;
  border-color: rgba(165, 42, 42, 0);
  display: inline-flex;
  gap: 10px;

  padding: 45px;
  width: fit-content;
  margin-left: auto;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  top: 0;
}

.Home {
  display: inline-block;
  border: solid;
  border-radius: 5px;
  border-color: rgba(165, 42, 42, 0);
  
  color: var(--text-color);
  text-decoration: none;
  padding: 30px;
  font-size: 20px;
}

.right-bar a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
}

.Home a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 17px;
  padding: 40px;
}


nav a:hover {
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-in-out;
}











#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  padding: 50px;
}
.intro {
  margin-bottom: 10px;
}
.bio {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.introduction {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-top: 5px;
}
.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.more-info p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin: 5px;
}

#portifolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

#stacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.botao-cima {
  background-color: rgba(44, 43, 43, 0.644);
  border: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

#header {
  color: rgb(8, 8, 8);
  font-size: 24px;
}

.botoes-capa {
  display: flex;
  gap: 10px;
}

.texto-corrido {
  color: rgb(0, 0, 0);
  font-size: 18px;
}



.stack_skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between  ;
  gap: 20px;
  padding: 50px;
}

.stacks_skills h2 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.footer {
  background-color: #1d2d47a8;
  color: white;
  text-align: center;
  padding: 15px;
}
.footer p {
  font-size: small;
}